<mat-drawer-container autosize class="container">
    <mat-drawer opened="{{opened}}" #drawer class="sidenav" mode="side" position="start">
        menu
    </mat-drawer>
    <mat-drawer-content>
        <!-- ciao -->
        <div class="content-container">
            <mat-table [dataSource]="books" class="mat-elevation-z8 table">
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="title">
                  <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="author">
                  <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="year">
                  <mat-header-cell mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </mat-drawer-content>
</mat-drawer-container>